<a href="https://colab.research.google.com/github/AlexsanderPessoa/Agro_bibliotecas/blob/main/agro_bibliotecas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import math

#logaritmo natural
print(math.log(31))

#especificando a base
print(math.log(31, 2))

3.4339872044851463
4.954196310386876

In [ ]:
#constantes
print(math.pi)
print(math.e)
print(math.inf)
print(math.nan)

3.141592653589793
2.718281828459045
inf
nan

In [ ]:
#eu só quero importat uma parte, e não toda a biblioteca, isso otimiza a memória
from math import pi
print(pi)

3.141592653589793

In [ ]:
from math import log, sqrt
print(log(1001, 3))
print(sqrt(400))

6.288619607278353
20.0

#metodo random

In [ ]:
import random as rd

In [ ]:
#aleatório de 0 e 1
print(rd.random())

0.7529992811732154

In [ ]:
#crio uma lista
num_alert = []
#para cada item dessa lista, de até 5 objetos
for i in range(5):
    #eu adiciono esse valor nessa lista, até dar 5 valores aleatórios de 0 a 1
    num_alert.append(rd.random())

print(num_alert)

[0.2157272306203002, 0.08063552475196412, 0.0665797623275407, 0.08046022616202686, 0.9862104360990643]

In [ ]:
numeros = [111, 222, 333, 444, 555, 666, 777, 888, 999]

In [ ]:
#sorteia dentro da minha lista 4 números aleatórios
print(rd.sample(numeros, 4))

[222, 888, 666, 111]

In [ ]:
#embaralhe minha lista
rd.shuffle(numeros)
print(numeros)

[111, 333, 777, 999, 222, 555, 444, 666, 888]

In [ ]:
numeros

[111, 333, 777, 999, 222, 555, 444, 666, 888]

#pandas

In [ ]:
#estamos criando um arquivo que se chama data_acess.csv
#estou mudando de nome para não dar conflito com o 
#arquivo que eu tenho para data_acesso.csv
%%writefile data_acesso.csv  
day,month,num access,category
31,5,9241,student
31,5,830,teacher
31,5,45,coordinator
3,6,9102,student
3,6,1022,teacher
3,6,30,coordinator
4,6,10301,student
4,6,781,teacher
4,6,81,coordinator

Writing data_acesso.csv

In [ ]:
#preciso carregar o arquivo
import pandas as pd

#estou chamando o arquivo e carregando na minha variavel chamada df (data frame)
#o arquivo esta nesse caminho (olhe no menu na pasta)
df = pd.read_csv('/content/data_acesso.csv')

df

# o método read_csv carrega um arquivo no formato '.csv'
# a primeira linha do arquivo se torna os rótulos das colunas
# como os indices não foram especificados, são criados automaticamente

   day  month  num access     category
0   31      5        9241      student
1   31      5         830      teacher
2   31      5          45  coordinator
3    3      6        9102      student
4    3      6        1022      teacher
5    3      6          30  coordinator
6    4      6       10301      student
7    4      6         781      teacher
8    4      6          81  coordinator

In [ ]:
df.head()

   day  month  num access     category
0   31      5        9241      student
1   31      5         830      teacher
2   31      5          45  coordinator
3    3      6        9102      student
4    3      6        1022      teacher

In [ ]:
df.sample()

   day  month  num access     category
8    4      6          81  coordinator

In [ ]:
df.sample(4)

   day  month  num access category
7    4      6         781  teacher
0   31      5        9241  student
3    3      6        9102  student
4    3      6        1022  teacher

In [ ]:
df.dtypes

day            int64
month          int64
num access     int64
category      object
dtype: object

In [ ]:
df.shape

(9, 4)

In [ ]:
df.columns

Index(['day', 'month', 'num access', 'category'], dtype='object')

#acessando uma coluna

In [ ]:
print(df['day'])

0    31
1    31
2    31
3     3
4     3
5     3
6     4
7     4
8     4
Name: day, dtype: int64

In [ ]:
print(df['day'])

In [ ]:
#não recomendado, pois pode haver colunas com o nome len
#df.len o que é um metodo, por isso não é recomendado
print(df.day)

0    31
1    31
2    31
3     3
4     3
5     3
6     4
7     4
8     4
Name: day, dtype: int64

In [ ]:
print(df['num access'])
#vai dar erro para print(df.num access) por causa do espaço

0     9241
1      830
2       45
3     9102
4     1022
5       30
6    10301
7      781
8       81
Name: num access, dtype: int64

#convertendo para valores

In [ ]:
lista_dias = list(df['day'].values)
print(lista_dias)

[31, 31, 31, 3, 3, 3, 4, 4, 4]

In [ ]:
#fazer buscas
df.query('month == 5')

   day  month  num access     category
0   31      5        9241      student
1   31      5         830      teacher
2   31      5          45  coordinator

In [ ]:
df.query('month == 5 & category == "teacher"' )

   day  month  num access category
1   31      5         830  teacher

In [ ]:
#dentro dessa linha eu só quero retornar o num access
df.query('month == 5 & category == "teacher"')['num access']

1    830
Name: num access, dtype: int64

#criando e removendo colunas

In [ ]:
df['year'] = 2021
df

   day  month  num access     category  year
0   31      5        9241      student  2021
1   31      5         830      teacher  2021
2   31      5          45  coordinator  2021
3    3      6        9102      student  2021
4    3      6        1022      teacher  2021
5    3      6          30  coordinator  2021
6    4      6       10301      student  2021
7    4      6         781      teacher  2021
8    4      6          81  coordinator  2021

In [ ]:
#eu tenho uma lista, eu quero criar uma nova coluna com os valores dessa lista
lista = list(range(1, df.shape[0]+1))
df['id'] = lista
df

   day  month  num access     category  year  id
0   31      5        9241      student  2021   1
1   31      5         830      teacher  2021   2
2   31      5          45  coordinator  2021   3
3    3      6        9102      student  2021   4
4    3      6        1022      teacher  2021   5
5    3      6          30  coordinator  2021   6
6    4      6       10301      student  2021   7
7    4      6         781      teacher  2021   8
8    4      6          81  coordinator  2021   9

In [ ]:
df = df.drop('month', axis=1)
print(df)

   day  num access     category  year  id
0   31        9241      student  2021   1
1   31         830      teacher  2021   2
2   31          45  coordinator  2021   3
3    3        9102      student  2021   4
4    3        1022      teacher  2021   5
5    3          30  coordinator  2021   6
6    4       10301      student  2021   7
7    4         781      teacher  2021   8
8    4          81  coordinator  2021   9

In [ ]:
df

   day  num access     category  year  id
0   31        9241      student  2021   1
1   31         830      teacher  2021   2
2   31          45  coordinator  2021   3
3    3        9102      student  2021   4
4    3        1022      teacher  2021   5
5    3          30  coordinator  2021   6
6    4       10301      student  2021   7
7    4         781      teacher  2021   8
8    4          81  coordinator  2021   9

In [ ]:
del df['year']
df

   day  num access     category  id
0   31        9241      student   1
1   31         830      teacher   2
2   31          45  coordinator   3
3    3        9102      student   4
4    3        1022      teacher   5
5    3          30  coordinator   6
6    4       10301      student   7
7    4         781      teacher   8
8    4          81  coordinator   9

#parte2

In [ ]:
%%writefile data_acesso.csv  
day,month,num access,category
31,5,9241,student
31,5,830,teacher
31,5,45,coordinator
3,6,9102,student
3,6,1022,teacher
3,6,30,coordinator
4,6,10301,student
4,6,781,teacher
4,6,81,coordinator

Writing data_acesso.csv

In [ ]:
import pandas as pd
df = pd.read_csv('/content/data_acesso.csv')
df

   day  month  num access     category
0   31      5        9241      student
1   31      5         830      teacher
2   31      5          45  coordinator
3    3      6        9102      student
4    3      6        1022      teacher
5    3      6          30  coordinator
6    4      6       10301      student
7    4      6         781      teacher
8    4      6          81  coordinator

#acessando linhas

In [ ]:
#estou criando um indice que vai de 10 em 10
lista = list(range(10, (df.shape[0]+1)*10,10))
df['id'] = lista
df

   day  month  num access     category  id
0   31      5        9241      student  10
1   31      5         830      teacher  20
2   31      5          45  coordinator  30
3    3      6        9102      student  40
4    3      6        1022      teacher  50
5    3      6          30  coordinator  60
6    4      6       10301      student  70
7    4      6         781      teacher  80
8    4      6          81  coordinator  90

In [ ]:
#eu quero que meu índice seja meu id
#não vai acontecer nada, pois não passei o implace
df.set_index('id')
df

   day  month  num access     category  id
0   31      5        9241      student  10
1   31      5         830      teacher  20
2   31      5          45  coordinator  30
3    3      6        9102      student  40
4    3      6        1022      teacher  50
5    3      6          30  coordinator  60
6    4      6       10301      student  70
7    4      6         781      teacher  80
8    4      6          81  coordinator  90

In [ ]:
#agora com o implace
df.set_index('id', inplace=True)
df

    day  month  num access     category
id
10   31      5        9241      student
20   31      5         830      teacher
30   31      5          45  coordinator
40    3      6        9102      student
50    3      6        1022      teacher
60    3      6          30  coordinator
70    4      6       10301      student
80    4      6         781      teacher
90    4      6          81  coordinator

In [ ]:
#usando o loc
#com esse colchete a mais ele passa uma lista
df.loc[[20]]

    day  month  num access category
id
20   31      5         830  teacher

In [ ]:
df.loc[20]
#sem esse colchete a mais

day                31
month               5
num access        830
category      teacher
Name: 20, dtype: object

In [ ]:
df.loc[[90,10,30]]
#quento tem mais de uma linha, é necessario usar esses colchetes a mais

    day  month  num access     category
id
90    4      6          81  coordinator
10   31      5        9241      student
30   31      5          45  coordinator

In [ ]:
df.loc[10:40]
#do indice 10 até 40

    day  month  num access     category
id
10   31      5        9241      student
20   31      5         830      teacher
30   31      5          45  coordinator
40    3      6        9102      student

In [ ]:
df.loc[[10:40]]
#aqui não pode usar esses colchetes

SyntaxError: ignored

In [ ]:
#só quero uma linha, mas só me mostra day e month
df.loc[10:10, ['day', 'month']]

    day  month
id
10   31      5

In [ ]:
df.loc[10, ['day', 'month']]
#se eu tirar os dois pontos ele me retorna fora de uma lista

day      31
month     5
Name: 10, dtype: object

##condicional

In [ ]:
df['category'] == 'student'

id
10     True
20    False
30    False
40     True
50    False
60    False
70     True
80    False
90    False
Name: category, dtype: bool

In [ ]:
df.loc[df['category'] == 'student']

    day  month  num access category
id
10   31      5        9241  student
40    3      6        9102  student
70    4      6       10301  student

##iloc

In [ ]:
df

    day  month  num access     category
id
10   31      5        9241      student
20   31      5         830      teacher
30   31      5          45  coordinator
40    3      6        9102      student
50    3      6        1022      teacher
60    3      6          30  coordinator
70    4      6       10301      student
80    4      6         781      teacher
90    4      6          81  coordinator

In [ ]:
df.iloc[1]

day                31
month               5
num access        830
category      teacher
Name: 20, dtype: object

In [ ]:
cat_pos1 = df.iloc[1,3] #linha 1 coluna 3, lembrando que começa do zero
print(cat_pos1)

teacher

In [ ]:
#pegando todas as linhas com a referencia 3 que é colunas, categoty
#df.iloc[:,3] #sem o formato de lista
df.iloc[:,[3]]

       category
id
10      student
20      teacher
30  coordinator
40      student
50      teacher
60  coordinator
70      student
80      teacher
90  coordinator

In [ ]:
lista_cats = list(df.iloc[:, 3].values)
lista_cats

['student',
 'teacher',
 'coordinator',
 'student',
 'teacher',
 'coordinator',
 'student',
 'teacher',
 'coordinator']

In [ ]:
print(lista_cats)

['student', 'teacher', 'coordinator', 'student', 'teacher', 'coordinator', 'student', 'teacher', 'coordinator']

##fatiar

In [ ]:
df.iloc[3:5]

    day  month  num access category
id
40    3      6        9102  student
50    3      6        1022  teacher

In [ ]:
df.iloc[3:5, 2:3]

    num access
id
40        9102
50        1022

##retornando uma copia

In [ ]:
subdf1 = df.iloc[3:6, 2:]

In [ ]:
subdf1

    num access     category
id
40        9102      student
50        1022      teacher
60          30  coordinator

In [ ]:
subdf1.iloc[2,0] = 1

In [ ]:
print(subdf1)

    num access     category
id
40        9102      student
50        1022      teacher
60           1  coordinator

In [ ]:
subdf1

    num access     category
id
40        9102      student
50        1022      teacher
60           1  coordinator

In [ ]:
df

    day  month  num access     category
id
10   31      5        9241      student
20   31      5         830      teacher
30   31      5          45  coordinator
40    3      6        9102      student
50    3      6        1022      teacher
60    3      6          30  coordinator
70    4      6       10301      student
80    4      6         781      teacher
90    4      6          81  coordinator

In [ ]:
subdf2 = df.loc[40:60, ['num access', 'category']]

In [ ]:
subdf2

    num access     category
id
40        9102      student
50        1022      teacher
60          30  coordinator

##estatistica

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/agronegocio/countries_data.tsv', sep='\t')

In [ ]:
df

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [ ]:
len(df.index)

1704

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [ ]:
df.sample(6)

                     country continent  year  lifeExp      pop     gdpPercap
641                    Haiti  Americas  1977   49.923  4908554   1874.298931
379                  Croatia    Europe  1987   71.520  4484310  13822.583940
1004                Mongolia      Asia  1992   61.271  2312802   1785.402016
1512                Tanzania    Africa  1952   41.215  8322925    716.650072
1092             New Zealand   Oceania  1952   69.390  1994794  10556.575660
154   Bosnia and Herzegovina    Europe  2002   74.090  4165416   6018.975239

In [ ]:
df.head(10)

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
5  Afghanistan      Asia  1977   38.438  14880372  786.113360
6  Afghanistan      Asia  1982   39.854  12881816  978.011439
7  Afghanistan      Asia  1987   40.822  13867957  852.395945
8  Afghanistan      Asia  1992   41.674  16317921  649.341395
9  Afghanistan      Asia  1997   41.763  22227415  635.341351

In [ ]:
#média da população
df['pop'].mean()

29601212.324530516

In [ ]:
df.describe()

             year      lifeExp           pop      gdpPercap
count  1704.00000  1704.000000  1.704000e+03    1704.000000
mean   1979.50000    59.474439  2.960121e+07    7215.327081
std      17.26533    12.917107  1.061579e+08    9857.454543
min    1952.00000    23.599000  6.001100e+04     241.165876
25%    1965.75000    48.198000  2.793664e+06    1202.060309
50%    1979.50000    60.712500  7.023596e+06    3531.846988
75%    1993.25000    70.845500  1.958522e+07    9325.462346
max    2007.00000    82.603000  1.318683e+09  113523.132900

In [ ]:
df[['lifeExp', 'pop', 'gdpPercap']].corr()
#corr() é a correlação entre eles

            lifeExp       pop  gdpPercap
lifeExp    1.000000  0.064955   0.583706
pop        0.064955  1.000000  -0.025600
gdpPercap  0.583706 -0.025600   1.000000

#exercício

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/agronegocio/WorldCups.csv')
df

,Year,Country,Winner,RunnersUp,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590549
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363000
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375700
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1045246
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768607
5,1958,Sweden,Brazil,Sweden,France,Germany FR,126,16,35,819810
6,1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893172
7,1966,England,England,Germany FR,Portugal,Soviet Union,89,16,32,1563135
8,1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95,16,32,1603975
9,1974,Germany,Germany FR,Netherlands,Poland,Brazil,97,16,38,1865753
10,1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,16,38,1545791
11,1982,Spain,Italy,Germany FR,Poland,France,146,24,52,2109723
12,1986,Mexico,Argentina,Germany FR,France,Belgium,132,24,52,2394031
13,1990,Italy,Germany FR,Argentina,Italy,England,115,24,52,2516215
14,1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3587538
15,1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2785100
16,2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,2705197
17,2006,Germany,Italy,France,Germany,Portugal,147,32,64,3359439
18,2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64,3178856
19,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3386810

In [ ]:
df.set_index('Year', inplace=True)
df

,Country,Winner,RunnersUp,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
Year,,,,,,,,,
1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590549
1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363000
1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375700
1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1045246
1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768607
1958,Sweden,Brazil,Sweden,France,Germany FR,126,16,35,819810
1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893172
1966,England,England,Germany FR,Portugal,Soviet Union,89,16,32,1563135
1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95,16,32,1603975
1974,Germany,Germany FR,Netherlands,Poland,Brazil,97,16,38,1865753
1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,16,38,1545791
1982,Spain,Italy,Germany FR,Poland,France,146,24,52,2109723
1986,Mexico,Argentina,Germany FR,France,Belgium,132,24,52,2394031
1990,Italy,Germany FR,Argentina,Italy,England,115,24,52,2516215
1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3587538
1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2785100
2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,2705197
2006,Germany,Italy,France,Germany,Portugal,147,32,64,3359439
2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64,3178856
2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3386810

In [ ]:
df.head()

,Country,Winner,RunnersUp,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
Year,,,,,,,,,
1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590549
1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363000
1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375700
1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1045246
1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768607

In [ ]:
# df.dtypes
print(df.dtypes)

Country           object
Winner            object
RunnersUp         object
Third             object
Fourth            object
GoalsScored        int64
QualifiedTeams     int64
MatchesPlayed      int64
Attendance         int64
dtype: object

In [ ]:
#contar a quantidades de linhas
# len(df.index) or
df.shape[0]

20

In [ ]:
# lista = list(range(1, df.shape[0]+1))
# df['id'] = lista
# df

In [ ]:
# df['AverageGoalsMatch'] = df.apply(lambda row: row.GoalsScored / row.MatchesPlayed, axis = 1) or
df['AverageGoalsMatch'] = df['GoalsScored'] / df['MatchesPlayed']

In [ ]:
df

,Country,Winner,RunnersUp,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance,AverageGoalsMatch
Year,,,,,,,,,,
1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590549,3.888889
1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363000,4.117647
1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375700,4.666667
1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1045246,4.000000
1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768607,5.384615
1958,Sweden,Brazil,Sweden,France,Germany FR,126,16,35,819810,3.600000
1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893172,2.781250
1966,England,England,Germany FR,Portugal,Soviet Union,89,16,32,1563135,2.781250
1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95,16,32,1603975,2.968750
1974,Germany,Germany FR,Netherlands,Poland,Brazil,97,16,38,1865753,2.552632
1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,16,38,1545791,2.684211
1982,Spain,Italy,Germany FR,Poland,France,146,24,52,2109723,2.807692
1986,Mexico,Argentina,Germany FR,France,Belgium,132,24,52,2394031,2.538462
1990,Italy,Germany FR,Argentina,Italy,England,115,24,52,2516215,2.211538
1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3587538,2.711538
1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2785100,2.671875
2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,2705197,2.515625
2006,Germany,Italy,France,Germany,Portugal,147,32,64,3359439,2.296875
2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64,3178856,2.265625
2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3386810,2.671875

In [ ]:
df2 = df.loc[df['Winner'] == 'Brazil']
df2

,Country,Winner,RunnersUp,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance,AverageGoalsMatch
Year,,,,,,,,,,
1958,Sweden,Brazil,Sweden,France,Germany FR,126,16,35,819810,3.600000
1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893172,2.781250
1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95,16,32,1603975,2.968750
1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3587538,2.711538
2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,2705197,2.515625

In [ ]:
df2['AverageGoalsMatch'].mean()

2.915432692307692

In [ ]:
lista_media = list(df2['AverageGoalsMatch'].values)
lista_media

[3.6, 2.78125, 2.96875, 2.7115384615384617, 2.515625]

In [ ]:
# df.query('month == 5 & category == "teacher"')['num access']
df3 = df.query('Winner == "Brazil" | RunnersUp == "Brazil"')
#df3 = df.loc[df['Winner & RunnersUp'] == 'Brazil']
df3

,Country,Winner,RunnersUp,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance,AverageGoalsMatch
Year,,,,,,,,,,
1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1045246,4.000000
1958,Sweden,Brazil,Sweden,France,Germany FR,126,16,35,819810,3.600000
1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893172,2.781250
1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95,16,32,1603975,2.968750
1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3587538,2.711538
1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2785100,2.671875
2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,2705197,2.515625

In [ ]:
df3['AverageGoalsMatch']

Year
1950    4.000000
1958    3.600000
1962    2.781250
1970    2.968750
1994    2.711538
1998    2.671875
2002    2.515625
Name: AverageGoalsMatch, dtype: float64

#Resolução

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/agronegocio/WorldCups.csv')
df

,Year,Country,Winner,RunnersUp,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590549
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363000
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375700
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1045246
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768607
5,1958,Sweden,Brazil,Sweden,France,Germany FR,126,16,35,819810
6,1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893172
7,1966,England,England,Germany FR,Portugal,Soviet Union,89,16,32,1563135
8,1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95,16,32,1603975
9,1974,Germany,Germany FR,Netherlands,Poland,Brazil,97,16,38,1865753
10,1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,16,38,1545791
11,1982,Spain,Italy,Germany FR,Poland,France,146,24,52,2109723
12,1986,Mexico,Argentina,Germany FR,France,Belgium,132,24,52,2394031
13,1990,Italy,Germany FR,Argentina,Italy,England,115,24,52,2516215
14,1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3587538
15,1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2785100
16,2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,2705197
17,2006,Germany,Italy,France,Germany,Portugal,147,32,64,3359439
18,2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64,3178856
19,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3386810

In [ ]:
df.set_index('Year', inplace=True)
df

,Country,Winner,RunnersUp,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
Year,,,,,,,,,
1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590549
1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363000
1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375700
1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1045246
1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768607
1958,Sweden,Brazil,Sweden,France,Germany FR,126,16,35,819810
1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893172
1966,England,England,Germany FR,Portugal,Soviet Union,89,16,32,1563135
1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95,16,32,1603975
1974,Germany,Germany FR,Netherlands,Poland,Brazil,97,16,38,1865753
1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,16,38,1545791
1982,Spain,Italy,Germany FR,Poland,France,146,24,52,2109723
1986,Mexico,Argentina,Germany FR,France,Belgium,132,24,52,2394031
1990,Italy,Germany FR,Argentina,Italy,England,115,24,52,2516215
1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3587538
1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2785100
2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,2705197
2006,Germany,Italy,France,Germany,Portugal,147,32,64,3359439
2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64,3178856
2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3386810

In [ ]:
df.shape[0]

20

In [ ]:
df['AverageGoalsMatch'] = df['GoalsScored']/df['MatchesPlayed']
df

,Country,Winner,RunnersUp,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance,AverageGoalsMatch
Year,,,,,,,,,,
1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590549,3.888889
1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363000,4.117647
1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375700,4.666667
1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1045246,4.000000
1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768607,5.384615
1958,Sweden,Brazil,Sweden,France,Germany FR,126,16,35,819810,3.600000
1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893172,2.781250
1966,England,England,Germany FR,Portugal,Soviet Union,89,16,32,1563135,2.781250
1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95,16,32,1603975,2.968750
1974,Germany,Germany FR,Netherlands,Poland,Brazil,97,16,38,1865753,2.552632
1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,16,38,1545791,2.684211
1982,Spain,Italy,Germany FR,Poland,France,146,24,52,2109723,2.807692
1986,Mexico,Argentina,Germany FR,France,Belgium,132,24,52,2394031,2.538462
1990,Italy,Germany FR,Argentina,Italy,England,115,24,52,2516215,2.211538
1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3587538,2.711538
1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2785100,2.671875
2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,2705197,2.515625
2006,Germany,Italy,France,Germany,Portugal,147,32,64,3359439,2.296875
2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64,3178856,2.265625
2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3386810,2.671875

In [ ]:
ganhou = df.query('Winner == "Brazil"')
participou = df.query('Winner == "Brazil" | RunnersUp == "Brazil"')

In [ ]:
ganhou

,Country,Winner,RunnersUp,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance,AverageGoalsMatch
Year,,,,,,,,,,
1958,Sweden,Brazil,Sweden,France,Germany FR,126,16,35,819810,3.600000
1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893172,2.781250
1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95,16,32,1603975,2.968750
1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3587538,2.711538
2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,2705197,2.515625

In [ ]:
participou

,Country,Winner,RunnersUp,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance,AverageGoalsMatch
Year,,,,,,,,,,
1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1045246,4.000000
1958,Sweden,Brazil,Sweden,France,Germany FR,126,16,35,819810,3.600000
1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893172,2.781250
1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95,16,32,1603975,2.968750
1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3587538,2.711538
1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2785100,2.671875
2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,2705197,2.515625

In [ ]:
lista_media_gols = list(ganhou['AverageGoalsMatch'].values)
lista_media_gols

[3.6, 2.78125, 2.96875, 2.7115384615384617, 2.515625]

In [ ]:
participou['AverageGoalsMatch']

Year
1950    4.000000
1958    3.600000
1962    2.781250
1970    2.968750
1994    2.711538
1998    2.671875
2002    2.515625
Name: AverageGoalsMatch, dtype: float64

In [ ]:
round((ganhou.shape[0] / participou.shape[0])*100,1)

71.4

In [ ]:
# para verificar somente os anos, olhamos somente os rótulos dos DataFrames acima
lista_media_gols = list(ganhou['AverageGoalsMatch'].values)
print('média de gols nos anos que ganhou:', lista_media_gols)    # anos em que o Brasil venceu

print('\nanos em que foi para a final e média de gols:')
print(participou['AverageGoalsMatch']) # anos em que o Brasil disputou uma final

# basta dividimos o número de disputas de final pelo número de vitórias
print('\nporcentagem de vitórias em finais:', round((ganhou.shape[0] / participou.shape[0])*100,1), '%')

média de gols nos anos que ganhou: [3.6, 2.78125, 2.96875, 2.7115384615384617, 2.515625]

anos em que foi para a final e média de gols:
Year
1950    4.000000
1958    3.600000
1962    2.781250
1970    2.968750
1994    2.711538
1998    2.671875
2002    2.515625
Name: AverageGoalsMatch, dtype: float64

porcentagem de vitórias em finais: 71.4 %