<a href="https://colab.research.google.com/github/AlexsanderPessoa/Agro_bibliotecas/blob/main/agro_bibliotecas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import math

#logaritmo natural
print(math.log(31))

#especificando a base
print(math.log(31, 2))

3.4339872044851463
4.954196310386876

In [4]:
#constantes
print(math.pi)
print(math.e)
print(math.inf)
print(math.nan)

3.141592653589793
2.718281828459045
inf
nan

In [5]:
#eu só quero importat uma parte, e não toda a biblioteca, isso otimiza a memória
from math import pi
print(pi)

3.141592653589793

In [7]:
from math import log, sqrt
print(log(1001, 3))
print(sqrt(400))

6.288619607278353
20.0

#metodo random

In [8]:
import random as rd

In [9]:
#aleatório de 0 e 1
print(rd.random())

0.7529992811732154

In [12]:
#crio uma lista
num_alert = []
#para cada item dessa lista, de até 5 objetos
for i in range(5):
    #eu adiciono esse valor nessa lista, até dar 5 valores aleatórios de 0 a 1
    num_alert.append(rd.random())

print(num_alert)

[0.2157272306203002, 0.08063552475196412, 0.0665797623275407, 0.08046022616202686, 0.9862104360990643]

In [13]:
numeros = [111, 222, 333, 444, 555, 666, 777, 888, 999]

In [14]:
#sorteia dentro da minha lista 4 números aleatórios
print(rd.sample(numeros, 4))

[222, 888, 666, 111]

In [16]:
#embaralhe minha lista
rd.shuffle(numeros)
print(numeros)

[111, 333, 777, 999, 222, 555, 444, 666, 888]

In [17]:
numeros

[111, 333, 777, 999, 222, 555, 444, 666, 888]

#pandas

In [18]:
#estamos criando um arquivo que se chama data_acess.csv
#estou mudando de nome para não dar conflito com o 
#arquivo que eu tenho para data_acesso.csv
%%writefile data_acesso.csv  
day,month,num access,category
31,5,9241,student
31,5,830,teacher
31,5,45,coordinator
3,6,9102,student
3,6,1022,teacher
3,6,30,coordinator
4,6,10301,student
4,6,781,teacher
4,6,81,coordinator

Writing data_acesso.csv

In [20]:
#preciso carregar o arquivo
import pandas as pd

#estou chamando o arquivo e carregando na minha variavel chamada df (data frame)
#o arquivo esta nesse caminho (olhe no menu na pasta)
df = pd.read_csv('/content/data_acesso.csv')

df

# o método read_csv carrega um arquivo no formato '.csv'
# a primeira linha do arquivo se torna os rótulos das colunas
# como os indices não foram especificados, são criados automaticamente

   day  month  num access     category
0   31      5        9241      student
1   31      5         830      teacher
2   31      5          45  coordinator
3    3      6        9102      student
4    3      6        1022      teacher
5    3      6          30  coordinator
6    4      6       10301      student
7    4      6         781      teacher
8    4      6          81  coordinator

In [22]:
df.head()

   day  month  num access     category
0   31      5        9241      student
1   31      5         830      teacher
2   31      5          45  coordinator
3    3      6        9102      student
4    3      6        1022      teacher

In [23]:
df.sample()

   day  month  num access     category
8    4      6          81  coordinator

In [24]:
df.sample(4)

   day  month  num access category
7    4      6         781  teacher
0   31      5        9241  student
3    3      6        9102  student
4    3      6        1022  teacher

In [25]:
df.dtypes

day            int64
month          int64
num access     int64
category      object
dtype: object

In [26]:
df.shape

(9, 4)

In [27]:
df.columns

Index(['day', 'month', 'num access', 'category'], dtype='object')

#acessando uma coluna

In [28]:
print(df['day'])

0    31
1    31
2    31
3     3
4     3
5     3
6     4
7     4
8     4
Name: day, dtype: int64

In [ ]:
print(df['day'])

In [31]:
#não recomendado, pois pode haver colunas com o nome len
#df.len o que é um metodo, por isso não é recomendado
print(df.day)

0    31
1    31
2    31
3     3
4     3
5     3
6     4
7     4
8     4
Name: day, dtype: int64

In [32]:
print(df['num access'])
#vai dar erro para print(df.num access) por causa do espaço

0     9241
1      830
2       45
3     9102
4     1022
5       30
6    10301
7      781
8       81
Name: num access, dtype: int64

#convertendo para valores

In [33]:
lista_dias = list(df['day'].values)
print(lista_dias)

[31, 31, 31, 3, 3, 3, 4, 4, 4]

In [34]:
#fazer buscas
df.query('month == 5')

   day  month  num access     category
0   31      5        9241      student
1   31      5         830      teacher
2   31      5          45  coordinator

In [37]:
df.query('month == 5 & category == "teacher"' )

   day  month  num access category
1   31      5         830  teacher

In [40]:
#dentro dessa linha eu só quero retornar o num access
df.query('month == 5 & category == "teacher"')['num access']

1    830
Name: num access, dtype: int64

#criando e removendo colunas

In [41]:
df['year'] = 2021
df

   day  month  num access     category  year
0   31      5        9241      student  2021
1   31      5         830      teacher  2021
2   31      5          45  coordinator  2021
3    3      6        9102      student  2021
4    3      6        1022      teacher  2021
5    3      6          30  coordinator  2021
6    4      6       10301      student  2021
7    4      6         781      teacher  2021
8    4      6          81  coordinator  2021

In [42]:
#eu tenho uma lista, eu quero criar uma nova coluna com os valores dessa lista
lista = list(range(1, df.shape[0]+1))
df['id'] = lista
df

   day  month  num access     category  year  id
0   31      5        9241      student  2021   1
1   31      5         830      teacher  2021   2
2   31      5          45  coordinator  2021   3
3    3      6        9102      student  2021   4
4    3      6        1022      teacher  2021   5
5    3      6          30  coordinator  2021   6
6    4      6       10301      student  2021   7
7    4      6         781      teacher  2021   8
8    4      6          81  coordinator  2021   9

In [45]:
df = df.drop('month', axis=1)
print(df)

   day  num access     category  year  id
0   31        9241      student  2021   1
1   31         830      teacher  2021   2
2   31          45  coordinator  2021   3
3    3        9102      student  2021   4
4    3        1022      teacher  2021   5
5    3          30  coordinator  2021   6
6    4       10301      student  2021   7
7    4         781      teacher  2021   8
8    4          81  coordinator  2021   9

In [46]:
df

   day  num access     category  year  id
0   31        9241      student  2021   1
1   31         830      teacher  2021   2
2   31          45  coordinator  2021   3
3    3        9102      student  2021   4
4    3        1022      teacher  2021   5
5    3          30  coordinator  2021   6
6    4       10301      student  2021   7
7    4         781      teacher  2021   8
8    4          81  coordinator  2021   9

In [47]:
del df['year']
df

   day  num access     category  id
0   31        9241      student   1
1   31         830      teacher   2
2   31          45  coordinator   3
3    3        9102      student   4
4    3        1022      teacher   5
5    3          30  coordinator   6
6    4       10301      student   7
7    4         781      teacher   8
8    4          81  coordinator   9